<ion-modal-view class="master-key-entry">
    <ion-content>
        <form name="form" class="master-key-form">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Project Master Key</span>
                <input type="password" placeholder="Enter Master Key">
              </label>
              <label class="item item-input item-stacked-label">
                  <button type="button" class="button button-positive" ng-click="link()">Link</button>
              </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
