<ion-popover-view style="height:{{53*components.length+7}}px;">
  <ion-content>
    <div class="list">
      <a class="item item-icon-right"
         ng-repeat="component in components"
         ng-click="componentMenu.remove()"
         ui-sref="data.component({resourceName:&quot;{{resourceName}}&quot;,recordID:{{recordID}},componentName:&quot;{{component.name}}&quot;})">
         <i class="icon ion-arrow-right-b"></i>
         {{component.title}}
      </a>
    </div>
  </ion-content>
</ion-popover-view>
