input.readonly {
    background-color: #FFFFFF;
    color: #7F7F7F;
    font-style: italic;
}
input[type="text"],
input[type="password"] {
    width: 100%;
}
.sync-result {
    font-size: 0.8rem;
    font-style: italic;
}
.sync-result.error {
    color: red!important;
}
.sync-result.success {
    color: green!important;
}
.sync-log-empty {
    color: #7F7F7F;
    font-size: 0.8rem;
    font-style: italic;
}
.inactive {
    color: #E0E0E0;
}
.error {
    color: #FF0000;
    padding-top: 5px;
}
img.photo-widget-preview {
    max-width: 100%;
    max-height: 180px;
    padding-right: 1rem;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.image-view {
    width: 100%;
}
.resource-select {
    padding: 0;
}
.subheading {
    font-weight: bold;
}
.col.th { /* match .input-label */
    color: #444;
    font-size: 16px;
}