<!-- Footer Template -->
<div class="tabs tabs-icon-top">
    <!--
    <a class="tab-item" ui-sref='index' nav-direction="swap">
        <i class="icon ion-home"></i>
        <span translate="Home"></span>
    </a>
    -->
<!--    <a class="tab-item" ui-sref='data.resources' nav-direction="swap">
        <i class="icon ion-clipboard"></i>
        <span translate="Data"></span>
    </a>-->
    <a class="tab-item" ui-sref='data.surveys' nav-direction="swap">
        <i class="icon ion-clipboard"></i>
        <span translate="Surveys"></span>
    </a>
    <a class="tab-item" ui-sref='sync' nav-direction="swap">
        <i class="icon ion-upload"></i>
        <span translate="Synchronize"></span>
    </a>
    <a class="tab-item" ui-sref="settings" nav-direction="swap">
        <i class="icon ion-gear-a"></i>
        <span translate="Settings"></span>
    </a>
</div>
