.bar-header {
    border-top: 1px solid whitesmoke;
    .button.icon,
    .title {
         color: whitesmoke;
    }
}
.popup-head,
.survey-card-top {
    background-color: $positive;
}
.popup-title {
    color: whitesmoke;
}
.survey-card-content {
    h2 {
        padding: 0.5rem;
        text-align: center;
    }
    table {
        width: 90%;
        text-align: left;
        margin: 1rem;
    }
}
.col.survey-unlink {
    text-align: right;
}
.button[disabled] {
    background-color: #ccc;
}
.item-centered {
    text-align: center;
}

input[type="text"] {
    border: 1px solid #E0E0E0;
}
