.bar-header {
    border-top: 1px solid whitesmoke;
    .button.icon,
    .title {
         color: whitesmoke;
    }
}
.popup-head,
.survey-card-top {
    background-color: $positive;
}
.popup-title {
    color: whitesmoke;
}
.survey-card-content {
    h2 {
        padding: 0.5rem;
        text-align: center;
    }
    table {
        width: 90%;
        text-align: left;
        margin: 1rem;
    }
}
.col.survey-unlink {
    text-align: right;
}
.button[disabled] {
    background-color: #ccc;
}
.item-centered {
    text-align: center;
}

form {
    width: 90%;
    .item-toggle {
        height: 40px;
        border: 0;
    }
    label.toggle {
        right: unset;
        left: 8px;
    }
    em-wizard-image-map.ng-invalid div.map {
        border: 1px solid red;
    }
    span.asterisk:before {
        content: '*';
        color: red;
        margin: 0 0.2rem;
    }
    .required-hint {
        color: red;
        font-size: 0.8rem;
        text-align: right;
        margin-top: 0.5rem;
    }
    .item-stacked-label {
        input,
        textarea,
        select {
            border: 1px solid #E0E0E0;
            padding: 4px;
            width: auto;
        }
        input,
        textarea,
        select,
        div.list.multi-select {
            &.ng-invalid {
                border: 1px solid red;
            }
        }
        input[type="date"] {
            min-width: 8rem;
        }
        select[multiple] {
            padding: 0.5rem;
        }
        label.item-radio.ng-invalid {
            .radio-content {
                border-left: 1px solid red;
                border-right: 1px solid red;
            }
            &:first-child .radio-content {
                border-top: 1px solid red;
            }
            &:last-child .radio-content {
                border-bottom: 1px solid red;
            }
        }
    }
    i.likert-vertical {
        font-size: 1.5rem;
        margin-right: 0.75rem;
    }
    .likert-icon-bar .item.item-radio {
        display: inline-block;
        margin: 0 0.7rem;
        border: 1px solid #E0E0E0!important;
        .radio-icon {
            display: none;
            visibility: none;
        }
        .likert-horizontal {
            display: inline-block;
        }
        .radio-content .item-content {
            padding: 0 0.7rem;
            font-size: 3.6rem;
        }
        input:checked + .radio-content .item-content {
            background: #fbe128;
        }
    }

    .wizard-label {
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
        font-weight: bold;
    }
    .form-row-image img {
        max-width: 66%;
        max-height: 600px;
    }
    .image-map-preview {
        max-width: 66%;
    }
}
.wizard-submit-buttons {
    padding: 0px 10px;
}

.data-collector-instructions {
    background-color: #E0E0E0;
    .say {
        font-weight: bold;
        font-size: 0.9rem;
        padding-top: 0.3rem;
    }
    .do {
        font-weight: normal;
        font-size: 0.9rem;
    }
}

.other-option.item-radio .item-content,
.other-option.item-checkbox .item-content {
    pointer-events: auto;
}
.other-option.item-radio .item-content input {
    position: relative;
    left: auto;
}

.survey-language-selector {
    min-height: 2.7rem;
    padding: 0.5rem;
    font-size: 1.0rem;
    min-width: 12.0rem;
}

.session-prompt.modal {
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;

    form.session-prompt-form {
        margin-top: 10%;
        width: 100%;
        label.item-input {
            text-align: center;
            border: 0;
            .input-label {
                margin-bottom: 1rem;
                font-size: 1.8rem;
            }
        }
        input {
            margin: 0 auto;
            margin-bottom: 0.5rem;
            width: 14rem;
        }
        .button {
            min-width: 14rem;
        }
        .unlink-link {
            text-align: center;
            margin-top: 10%;
        }
    }
}
a.button.unlink-button {
    color: $positive;
}
