/* line 1, scss/theme/_theme.scss */
.bar-header {
  border-top: 1px solid whitesmoke;
}
/* line 3, scss/theme/_theme.scss */
.bar-header .button.icon,
.bar-header .title {
  color: whitesmoke;
}

/* line 8, scss/theme/_theme.scss */
.popup-head,
.survey-card-top {
  background-color: #00aaa0;
}

/* line 12, scss/theme/_theme.scss */
.popup-title {
  color: whitesmoke;
}

/* line 16, scss/theme/_theme.scss */
.survey-card-content h2 {
  padding: 0.5rem;
  text-align: center;
}
/* line 20, scss/theme/_theme.scss */
.survey-card-content table {
  width: 90%;
  text-align: left;
  margin: 1rem;
}

/* line 26, scss/theme/_theme.scss */
.col.survey-unlink {
  text-align: right;
}

/* line 29, scss/theme/_theme.scss */
.button[disabled] {
  background-color: #ccc;
}

/* line 32, scss/theme/_theme.scss */
.item-centered {
  text-align: center;
}

/* line 36, scss/theme/_theme.scss */
form {
  width: 90%;
}
/* line 38, scss/theme/_theme.scss */
form .item-toggle {
  height: 40px;
  border: 0;
}
/* line 42, scss/theme/_theme.scss */
form label.toggle {
  right: unset;
  left: 8px;
}
/* line 46, scss/theme/_theme.scss */
form em-wizard-image-map.ng-invalid div.map {
  border: 1px solid red;
}
/* line 49, scss/theme/_theme.scss */
form span.asterisk:before {
  content: '*';
  color: red;
  margin: 0 0.2rem;
}
/* line 54, scss/theme/_theme.scss */
form .required-hint {
  color: red;
  font-size: 0.8rem;
  text-align: right;
  margin-top: 0.5rem;
}
/* line 61, scss/theme/_theme.scss */
form .item-stacked-label input,
form .item-stacked-label textarea,
form .item-stacked-label select {
  border: 1px solid #E0E0E0;
  padding: 4px;
  width: auto;
}
/* line 72, scss/theme/_theme.scss */
form .item-stacked-label input.ng-invalid,
form .item-stacked-label textarea.ng-invalid,
form .item-stacked-label select.ng-invalid,
form .item-stacked-label div.list.multi-select.ng-invalid {
  border: 1px solid red;
}
/* line 76, scss/theme/_theme.scss */
form .item-stacked-label input[type="date"] {
  min-width: 8rem;
}
/* line 79, scss/theme/_theme.scss */
form .item-stacked-label select[multiple] {
  padding: 0.5rem;
}
/* line 83, scss/theme/_theme.scss */
form .item-stacked-label label.item-radio.ng-invalid .radio-content {
  border-left: 1px solid red;
  border-right: 1px solid red;
}
/* line 87, scss/theme/_theme.scss */
form .item-stacked-label label.item-radio.ng-invalid:first-child .radio-content {
  border-top: 1px solid red;
}
/* line 90, scss/theme/_theme.scss */
form .item-stacked-label label.item-radio.ng-invalid:last-child .radio-content {
  border-bottom: 1px solid red;
}
/* line 95, scss/theme/_theme.scss */
form i.likert-vertical {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
/* line 99, scss/theme/_theme.scss */
form .likert-icon-bar .item.item-radio {
  display: inline-block;
  margin: 0 0.7rem;
  border: 1px solid #E0E0E0 !important;
}
/* line 103, scss/theme/_theme.scss */
form .likert-icon-bar .item.item-radio .radio-icon {
  display: none;
  visibility: none;
}
/* line 107, scss/theme/_theme.scss */
form .likert-icon-bar .item.item-radio .likert-horizontal {
  display: inline-block;
}
/* line 110, scss/theme/_theme.scss */
form .likert-icon-bar .item.item-radio .radio-content .item-content {
  padding: 0 0.7rem;
  font-size: 3.6rem;
}
/* line 114, scss/theme/_theme.scss */
form .likert-icon-bar .item.item-radio input:checked + .radio-content .item-content {
  background: #fbe128;
}
/* line 119, scss/theme/_theme.scss */
form .wizard-label {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
}
/* line 124, scss/theme/_theme.scss */
form .form-row-image img {
  max-width: 66%;
  max-height: 600px;
}
/* line 128, scss/theme/_theme.scss */
form .image-map-preview {
  max-width: 66%;
}

/* line 132, scss/theme/_theme.scss */
.wizard-submit-buttons {
  padding: 0px 10px;
}

/* line 136, scss/theme/_theme.scss */
.data-collector-instructions {
  background-color: #E0E0E0;
}
/* line 138, scss/theme/_theme.scss */
.data-collector-instructions .say {
  font-weight: bold;
  font-size: 0.9rem;
  padding-top: 0.3rem;
}
/* line 143, scss/theme/_theme.scss */
.data-collector-instructions .do {
  font-weight: normal;
  font-size: 0.9rem;
}

/* line 149, scss/theme/_theme.scss */
.other-option.item-radio .item-content,
.other-option.item-checkbox .item-content {
  pointer-events: auto;
}

/* line 153, scss/theme/_theme.scss */
.other-option.item-radio .item-content input {
  position: relative;
  left: auto;
}

/* line 158, scss/theme/_theme.scss */
.survey-language-selector {
  min-height: 2.7rem;
  padding: 0.5rem;
  font-size: 1.0rem;
  min-width: 12.0rem;
}

/* line 165, scss/theme/_theme.scss */
.session-prompt.modal {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
/* line 173, scss/theme/_theme.scss */
.session-prompt.modal form.session-prompt-form {
  margin-top: 10%;
  width: 100%;
}
/* line 176, scss/theme/_theme.scss */
.session-prompt.modal form.session-prompt-form label.item-input {
  text-align: center;
  border: 0;
}
/* line 179, scss/theme/_theme.scss */
.session-prompt.modal form.session-prompt-form label.item-input .input-label {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
/* line 184, scss/theme/_theme.scss */
.session-prompt.modal form.session-prompt-form input {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 14rem;
}
/* line 189, scss/theme/_theme.scss */
.session-prompt.modal form.session-prompt-form .button {
  min-width: 14rem;
}
/* line 192, scss/theme/_theme.scss */
.session-prompt.modal form.session-prompt-form .unlink-link {
  text-align: center;
  margin-top: 10%;
}

/* line 198, scss/theme/_theme.scss */
a.button.unlink-button {
  color: #00aaa0;
}
