<ion-view view-title="DataCreate">
    <div class="bar bar-stable bar-subheader">
        <a href="#/data/{{formName}}" class="button icon-left ion-arrow-left-a"></a>
        <h2 class="title">Create {{formName}}</h2>
        <div class="buttons">
            <button class="button icon-left ion-checkmark-round" ng-click="submit(form)"></button>
        </div>
    </div>
    <ion-content id="main" class="has-header has-subheader has-footer">
        <p class="padding">Create-form for &quot;{{formName}}&quot;</p>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Enter first name" ng-model="form.first_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Enter last Name" ng-model="form.last_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of Birth</span>
                <input type="date" ng-model="form.date_of_birth">
            </label>
        </div>
    </ion-content>
</ion-view>
