<div class="card">
  <!-- TODO move styles into CSS -->
  <div class="item item-divider" style="background-color:#00aaa0;"></div>
  <div class="item item-text-wrap">
    <h2 style="padding:0.5rem;text-align:center;">{{surveyTitle}}</h2>
    <table style="width:90%;text-align:left;margin:1rem;">
      <tr>
        <td><h3>Complete Responses</h3></td><!-- TODO i18n -->
        <td>{{completeResponses}}</td>
      </tr>
      <tr>
        <td><h3>Responses waiting to be uploaded</h3></td><!-- TODO i18n -->
        <td>{{unsyncedResponses}}</td>
      </tr>
    </table>
    <div class="item" style="text-align:center">
      <a class="button" style="background-color:#ff7a5a;color:whitesmoke;">Start Survey</a>
    </div>
  </div>
</div>
