<ion-view view-title="Surveys">
  <!-- TODO move styles into CSS -->
  <section eden-topbar="exp"></section>
  <ion-content class="has-header">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <!-- TODO Replace by directive -->
            <a class="button button-positive" ui-sref="sync">Upload all Surveys</a>
          </div>
          <div class="col" style="text-align:right;">
            <!-- TODO Replace by directive -->
            <a>Unlink</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- TODO Replace by directive -->
            <label>
              <div class="input-label">Survey Language:</div>
              <select>
                <option value="en">English</option>
                <option value="es">Spanish</option>
              </select>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <em-survey-list colums="3"></em-survey-list>
      </div>
    </div>
  </ion-content>
</ion-view>
