<div class="card">
  <div class="item item-divider survey-card-top"></div>
  <div class="item item-text-wrap survey-card-content">
    <h2>{{surveyTitle}}</h2>
    <table>
      <tr>
        <td><h3>Complete Responses</h3></td><!-- TODO i18n -->
        <td>{{completeResponses}}</td>
      </tr>
      <tr>
        <td><h3>Responses waiting to be uploaded</h3></td><!-- TODO i18n -->
        <td>{{unsyncedResponses}}</td>
      </tr>
    </table>
  </div>
  <div class="item item-centered">
    <a class="button button-energized">Start Survey</a>
  </div>
</div>
