<ion-view view-title="DataUpdate">
    <div class="bar bar-stable bar-subheader">
        <div class="buttons">
            <a ng-click="returnToParentView()" class="button icon-left ion-arrow-left-a"></a>
            <button class="button icon-left ion-android-more-vertical button-light" style="margin-left:0.2rem;" ng-if="hasComponents" ng-click="openComponents($event)"></button>
        </div>
        <h2 class="title" translate="Edit+FORMTITLE" translate-value-formtitle="{{formTitle}}"></h2>
        <div class="buttons">
            <button class="button icon-left ion-trash-b button-assertive" style="margin-right:0.2rem;" ng-click="deleteRecord()"></button>
            <button class="button button-positive icon-left ion-checkmark-round" ng-click="submit(form)"></button>
        </div>
    </div>
    <ion-content id="main" class="has-header has-subheader has-footer">
        <em-data-form resource="{{resourceName}}" component="{{componentName}}"></em-data-form>
    </ion-content>
</ion-view>
