<ion-view view-title="DataUpdate">
    <div class="bar bar-stable bar-subheader">
        <a href="#/data/{{formName}}" class="button icon-left ion-arrow-left-a"></a>
        <h2 class="title">{{formName}} #{{recordID}}</h2>
        <div class="buttons">
            <button class="button icon-left ion-trash-b button-assertive" style="margin-right:0.2rem;"></button>
            <button class="button icon-left ion-checkmark-round"></button>
        </div>
    </div>
    <ion-content class="padding has-header has-subheader has-footer">
        <p>Update-form for &quot;{{formName}}&quot; #{{recordID}}</p>
    </ion-content>
</ion-view>
